/*-- scss:defaults --*/
$callout-color-tip: #069594;  /* definitions */
$callout-color-note: #ffbfcb; /* results */
$callout-color-warning: #ff8d56; /* examples */
$callout-color-important: #fbe883; /* proofs/answers */
$callout-color-caution: #613a9e; /* prereqs/hints/reminders */